<app-branding headerTitle="Change Password"></app-branding>

<ion-content>

   <div class="card">
<form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
<ion-card>

  <ion-card-content>

    <ion-grid fixed>
      <ion-row >
        <ion-col size="12">
          <ion-item >
            <ion-label position="floating" color="primary">Old Password</ion-label>
            <ion-input [type]="showOldPassword ? 'text':'password'" formControlName="oldPassword"></ion-input> <ion-icon slot="end" (click)="oldPasswordChanges()" [name]="oldPasswordButton"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">New Password</ion-label>
            <ion-input [type]="showNewPassword ? 'text':'password'" formControlName="newPassword"></ion-input> <ion-icon slot="end" (click)="newPasswordChanges()" [name]="newPasswordButton"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Confirm Password</ion-label>
            <ion-input [type]="showConfirmPassword ? 'text':'password'" formControlName="confirmPassword"></ion-input> <ion-icon slot="end" (click)="confirmPasswordChanges()" [name]="confirmPasswordButton"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
    <div class="ion-text-center">
      <ion-button type="submit" class="ion-text-center" [disabled]="!updatePasswordForm.valid">
        Update
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
</form>
</div>

</ion-content>

