<ion-header>
  <ion-toolbar>
    <ion-title>Create User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-card>
          <ion-card-content>
            <form [formGroup]="createUserForm" (ngSubmit)="onSubmit(createUserForm.value)">
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label position="floating">Select Role</ion-label>
                      <ion-select formControlName="role">
                        <ion-select-option value="admin">Admin</ion-select-option>
                        <ion-select-option value="manager">Manager</ion-select-option>
                        <ion-select-option value="employee">Entry In Operator</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <div *ngIf="isSubmitting &&  f.role.errors">
                      <div *ngIf="f.role.errors.required">
                        <span class="text-danger open-sans fs-5 fw-bold">* Role is required</span>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label position="floating">Name</ion-label>
                      <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>
                    <div *ngIf="isSubmitting &&  f.name.errors">
                      <div *ngIf="f.name.errors.required">
                        <span class="text-danger open-sans fs-5 fw-bold">* Name is required</span>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label position="floating">Email Id / Username</ion-label>
                      <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>
                    <div *ngIf="isSubmitting &&  f.email.errors">
                      <div *ngIf="f.email.errors.required">
                        <span class="text-danger open-sans fs-5 fw-bold">* Email is required</span>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label position="floating">Mobile Number</ion-label>
                      <ion-input type="number" formControlName="phoneNumber"></ion-input>
                    </ion-item>
                    <div *ngIf="isSubmitting &&  f.phoneNumber.errors">
                      <div *ngIf="f.phoneNumber.errors.required">
                        <span class="text-danger open-sans fs-5 fw-bold">* Mobile number is required</span>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col size="12">
                      <ion-list>
                        <ion-radio-group formControlName="gender">
                          <ion-list-header>
                            <ion-label>Sex</ion-label>
                          </ion-list-header>
                          <ion-item>
                            <ion-label>Male</ion-label>
                            <ion-radio slot="start" value="male"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label>Female</ion-label>
                            <ion-radio slot="start" value="female"></ion-radio>
                          </ion-item>
                        </ion-radio-group>
                      </ion-list>
                  </ion-col>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label>Status</ion-label>
                      <ion-toggle slot="end" formControlName="status" checked></ion-toggle>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-text-center">
                  <ion-col size="12">
                    <ion-button type="submit" color="primary" expand="block">
                      Create
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>